main.survive {
    height: 100%;

    .game_window {
        z-index: 100;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: .25rem;
        touch-action: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        cursor: crosshair;

        &.paused {
            .game_elements {
                filter: brightness(.5);
            }

            .hud {
                .joystick {
                    .joystick_button {
                        display: inherit;
                    }
                }
            }
        }

        &.fullscreen {
            border-radius: 0;
            position: fixed;
            top: 0;
            left: 0;
        }

        div.game_elements {
            height: 100%;
            width: 100%;

            .background {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%) translate(calc(var(--player-x-mod) * var(--scale) * -1), calc(var(--player-y-mod) * var(--scale) * -1)) scale(var(--scale));
                background-image: linear-gradient(to right, var(--hover-color) 1px, transparent 1px), linear-gradient(to bottom, var(--hover-color) 1px, transparent 1px);
                background-color: var(--section-color);
                background-size: 16px 16px;
                background-repeat: repeat;
            }
    
            .player {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(var(--scale) * 4.8px);
                height: calc(var(--scale) * 4.8px);
                background: var(--primary-color);
                border-radius: 50%;
                z-index: 1;
                box-shadow: calc(var(--scale) * 4.8px * .1) calc(var(--scale) * 4.8px * .1) 10px color-mix(in srgb, var(--background-color) 30%, transparent 70%);
    
                &.damaged {
                    opacity: .5;
                }
            }
    
            .xp {
                position: absolute;
                transform: translate(calc(-50% - var(--player-x) * var(--scale)), calc(-50% - var(--player-y) * var(--scale)));
                width: calc(var(--scale) * .8px);
                height: calc(var(--scale) * .8px);
                background: var(--secondary-color);
                border-radius: 50%;
                box-shadow: calc(var(--scale) * .8px * .1) calc(var(--scale) * .8px * .1) 10px color-mix(in srgb, var(--background-color) 30%, transparent 70%);
            }
    
            .enemy {
                position: absolute;
                transform: translate(calc(-50% - var(--player-x) * var(--scale)), calc(-50% - var(--player-y) * var(--scale)));
                width: calc(var(--scale) * 3.2px);
                height: calc(var(--scale) * 3.2px);
                background: red;
                border-radius: 50%;
                box-shadow: calc(var(--scale) * 3.2px * .1) calc(var(--scale) * 3.2px * .1) 10px color-mix(in srgb, var(--background-color) 30%, transparent 70%);
    
                &.damaged {
                    opacity: .5;
                }
            }
    
            .bullet {
                position: absolute;
                transform: translate(calc(-50% - var(--player-x) * var(--scale)), calc(-50% - var(--player-y) * var(--scale)));
                width: calc(var(--scale) * .4px);
                height: calc(var(--scale) * .4px);
                background: red;
                border-radius: 50%;
                box-shadow: calc(var(--scale) * .4px * .1) calc(var(--scale) * .4px * .1) 10px color-mix(in srgb, var(--background-color) 30%, transparent 70%);
            }
        }

        div.hud {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            .hud_top {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin: .5rem;
                gap: .5rem;

                .bars {
                    position: inherit;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    background: var(--section-color);
                    border-radius: .25rem;
                    overflow: hidden;
                    padding: 0.5rem;
                    font-weight: bold;
                    box-shadow: 0 0 10px color-mix(in srgb, var(--background-color) 90%, transparent 10%);
        
                    .health_background {
                        position: relative;
                        height: 1rem;
                        width: 100%;
                        background: var(--background-color);
        
                        .health_bar {
                            position: absolute;
                            height: 1rem;
                            background: var(--primary-color);
                        }
                    }
        
                    .xp_background {
                        position: relative;
                        height: .5rem;
                        width: 100%;
                        background: var(--background-color);
        
                        .xp_bar {
                            position: absolute;
                            height: .5rem;
                            background: var(--secondary-color);
                        }
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    align-items: end;
        
                    button {
                        padding: .25rem;
                        border-radius: .25rem;
                        width: 2rem;
                        height: 2rem;
                        background: var(--section-color);
                        border: 0;
                        cursor: pointer;
                        color: white;
        
                        &:hover {
                            background-color: var(--background-color);
                        }
        
                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }

            .joystick {
                border-radius: 50%;
                background: var(--section-color);
                position: absolute;
                bottom: .5rem;
                right: .5rem;
                left: auto;
                width: 8rem;
                height: 8rem;
                touch-action: none;
                z-index: 2;
                border: .25rem solid var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
    
                &.joystick_left {
                    left: .5rem;
                    right: auto;
    
                    .joystick_button {
                        rotate: 180deg;
                    }
                }
    
                .joystick_button {
                    border: none;
                    background: var(--background-color);
                    width: 2rem;
                    height: 2rem;
                    border-radius: .25rem;
                    touch-action: auto;
                    display: none;
                }
            }
    
            .cursor {
                pointer-events: none;
                position: absolute;
                transform: translate(calc(-50% - var(--player-x) * var(--scale)), calc(-50% - var(--player-y) * var(--scale)));
                width: calc(var(--scale) * .8px);
                height: calc(var(--scale) * .8px);
                border: 1px solid white;
                border-radius: 50%;
            }
        }
    }
}
