@import '../colors.scss';

main.home {
    h2 {
        margin: 0;
    }

    p {
        a {
            color: var(--text-color);
            transition: color 0.2s ease-in-out;
            
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}
