@import './../colors.scss';

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--section-color);
    border-bottom: 0.125rem solid var(--border-color);
    padding: 1rem;
    gap: 2rem;
    overflow-x: auto;
    
    h1 {
        color: var(--primary-color);
        margin: 0;

        a {
            text-decoration: none;
            color: var(--primary-color);
            .short {
                display: none;
            }
            .full {
                display: block;
            }

            @media (max-width: 50rem) {
                .full {
                    display: none;
                }
                .short {
                    display: block;
                }
            }
        }
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;

                a {
                    color: var(--text-color);
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.25rem;
                    transition: color 0.2s ease-in-out;
                    
                    &:hover {
                        color: var(--secondary-color);
                    }

                    &.selected {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
