@import 'colors.scss';

.wrapper {
    min-height: 100vh;
    // background-image: url('');
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        background-color: var(--background-color);
        padding: 1rem 2rem;
        margin: 0 auto;
        box-sizing: border-box;
        width: 80rem;

        @media (max-width: 80rem) {
            width: 100%;
        }
    }
}
