@import 'styles.scss';

div.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 3.5rem;
    box-sizing: border-box;

    header {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 0;
        background-color: var(--section-color);
        display: flex;
        height: 3.5rem;
        padding: .25rem .5rem;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        border-bottom: .125rem solid var(--border-color);

        div.header_left {
            display: flex;
            gap: .25rem;

            button {
                height: 2.5rem;
                align-self: center;
                border: none;
                padding: 0 .25rem;
                border-radius: .25rem;
                background-color: var(--section-color);
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                img {
                    max-height: 2rem;
                    max-width: 2rem;
                }
            }

            a {
                text-decoration: none;
                align-self: center;
                padding: 0 .25rem;
                border-radius: .25rem;
                background-color: var(--section-color);
                color: var(--primary-color);

                .short {
                    display: none;
                }

                &:hover {
                    background-color: var(--background-color);
                }

                @media (max-width: 32rem) {
                    .full {
                        display: none;
                    }
                    .short {
                        display: block;
                    }
                }
            }
        }

        div.header_right {
            display: flex;
            gap: .25rem;
            overflow-x: auto;

            a {
                display: flex;
                gap: .5rem;
                height: 2rem;
                align-self: center;
                padding: 0 .25rem;
                border-radius: .25rem;
                background-color: var(--section-color);
                color: var(--text-color);
                text-decoration: none;
                
                span {
                    line-height: 1rem;
                    font-size: 1rem;
                    align-self: center;

                    @media (max-width: 48rem) {
                        display: none;
                    }
                }

                svg {
                    align-self: center;
                    color: var(--text-color);
                    max-height: 1.5rem;
                    max-width: 1.5rem;
                }

                &:hover {
                    background-color: var(--background-color);
                }
            }

            div.theme_select {
                padding: .25rem;
                border-radius: .25rem;
                border: .125rem solid transparent;

                &.is_selecting_theme {
                    border: .125rem solid var(--border-color);
                    background-color: var(--section-color);
                }

                button {
                    border: none;
                    background: transparent;
                    padding: .25rem;
                    border-radius: .25rem;
                    width: fit-content;
                    height: fit-content;

                    &:hover {
                        background-color: var(--background-color);
                    }

                    div.ps-dark {
                        width: 2rem;
                        height: 2rem;
                        background-color: #00ff6a;
                        border-radius: 50%;
                        position: relative;

                        &::before {
                            content: '';
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: #6affbf;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            content: '';
                            width: .75rem;
                            height: .75rem;
                            background-color: #131616;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    div.ps-light {
                        width: 2rem;
                        height: 2rem;
                        background-color: #1DB65D;
                        border-radius: 50%;
                        position: relative;

                        &::before {
                            content: '';
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: #22CA6C;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            content: '';
                            width: .75rem;
                            height: .75rem;
                            background-color: #F7FFFB;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    div.trans {
                        width: 2rem;
                        height: 2rem;
                        background-color: #F5ABB9;
                        border-radius: 50%;
                        position: relative;

                        &::before {
                            content: '';
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: #5BCFFB;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            content: '';
                            width: .75rem;
                            height: .75rem;
                            background-color: #ffffff;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    div.enby {
                        width: 2rem;
                        height: 2rem;
                        background-color: #FCF434;
                        border-radius: 50%;
                        position: relative;

                        &::before {
                            content: '';
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: #9C59D1;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            content: '';
                            width: .75rem;
                            height: .75rem;
                            background-color: #2C2C2C;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                div.theme_select_popup {
                    width: 2.5rem;
                    padding: .25rem;
                    position: absolute;
                    z-index: 10000;
                    top: 3rem;
                    right: .5rem;
                    background-color: var(--section-color);
                    border: .125rem solid var(--border-color);
                    border-top: none;
                    border-radius: 0 0 .25rem .25rem;
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                }
            }
        }
    }

    nav {
        background-color: var(--section-color);
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: space-between;
        padding: .5rem;
        border-right: .125rem solid var(--border-color);
        overflow-y: auto;

        div.navbar_section {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            a {
                text-decoration: none;
                display: flex;
                gap: .5rem;
                padding: .125rem;
                height: 2rem;
                color: var(--text-color);

                svg {
                    align-self: center;
                    height: 1.5rem;
                }

                div.info {
                    display: none;

                    span {
                        color: var(--text-color);
                        line-height: 1rem;
                        align-self: center;
                    }
                }

                div.info_hover {
                    display: none;

                    span {
                        color: var(--text-color);
                        line-height: 1rem;
                        align-self: center;
                    }
                }

                &:hover {
                    border-radius: .25rem; 
                    background-color: var(--background-color);
                }
            }
        }

        @media (max-width: 32rem) {
            display: none;
        }

        &:not(.active) {
            a:hover {
                div.info_hover {
                    display: flex;
                    position: absolute;
                    z-index: 120;
                    margin-left: 3rem;
                    background-color: var(--section-color);
                    height: 1rem;
                    padding: .5rem;
                    border-radius: .25rem;
                }
            }
        }

        &.active {
            div.navbar_section {
                div.info {
                    display: flex;
                }
            }

            @media (max-width: 32rem) {
                position: absolute;
                display: flex;
                border-bottom: .125rem solid var(--border-color);
                border-right: 0;
                width: 100%;
                top: 3.5rem;
                min-height: calc(100% - 3.5rem);
                box-sizing: border-box;
                z-index: 200;
            }
        }
    }

    .content {
        flex: 1;
        padding: 1.25rem;
        margin: 0 auto;
        box-sizing: border-box;
        width: 80rem;
        overflow-y: auto;

        @media (max-width: 80rem) {
            width: 100%;
        }

        footer {
            display: flex;
            justify-content: center;
            gap: .5rem;
            margin-top: 1rem;
            color: var(--hover-color);

            a {
                color: var(--hover-color);
            }
        }
    }
}
