:root {
    --primary-color: #00ff6a;
    --secondary-color: #6affbf;
    --border-color: #00753c;
    --section-color: #262b2b;
    --background-color: #131616;
    --text-color: #FFFFFF;
}

div.section {
    border-radius: 0;
    border-bottom: .125rem solid var(--border-color);

    h1 {
        margin: 0 auto;
    }

    h2 {
        margin: 0 auto;
    }
}

div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

a {
    color: var(--secondary-color);
    transition: color 0.2s ease-in-out;
    
    &:hover {
        color: var(--primary-color);
    }
}

b {
    font-weight: 900;
}

code {
    background-color: var(--background-color);
    border-radius: .25rem;
    padding: .125rem .25rem;
}
